<%- include('partials/header') %>

<div class="card" style="width: 100%;">
    <h1> Property Details </h1>
    <div class="col-fluid col-md-4">
      <img src="images/<%= property.img %>"alt="...">
  </div>    <div class="card-body">
      <h5 class="card-title">Title: <%= property.title %></h5>
      <p class="card-text">Description: <%= property.description %></p>
      <p class="card-text">Price Per Night: <%= property.pricePerNight %></p>
      <p class="card-text">Service Fee: <%= property.serviceFee %></p>
      <p class="card-text">Cleaning Fee: <%= property.cleaningFee %></p>
      <p class="card-text">Bedrooms: <%= property.bedrooms %></p>
      <p class="card-text">Amenities: <%= property.amenities %></p>
      <p class="card-text">Bathrooms: <%= property.bathrooms %></p>
      <p class="card-text">Beds: <%= property.beds %></p>
      <p class="card-text">City: <%= property.location.city %></p>
      <p class="card-text">State: <%= property.location.state %></p>
      <p class="card-text">Country: <%= property.location.country %></p>
      <p class="card-text">Pets: <%= property.pets %></p>
      <p class="card-text">Smoking: <%= property.smoking %></p>
      <p class="card-text">Property Type: <%= property.propertyType %></p>
    
      <div class="form-group col-md-3">
        <p>
        <form action="/properties/delete/<%= property._id %>" method="POST">
          <button type="submit" id="add" class="btn btn-outline-dark">Delete Property</button>
      </form>        
      <a class="btn btn-primary" href="/properties/update/<%= property._id %>" role="button">Edit Property</a>
    </p>
        
      </div>
      
      <a href="/">Back to list</a>
    
    </div>
  </div>
    
    

<%- include('partials/footer') %>
