<%- include('partials/header') %>

<div class="card" style="width: 100%;">
    <h1> Reservation Details </h1>
    <img src="images/<%= property.img %>" class="img-fluid rounded-start" alt="...">
    <div class="card-body">
      <!-- <h5 class="card-title">Title: <%= property.title %></h5>
      <p class="card-text">Description: <%= property.description %></p>
      <p class="card-text">Price Per Night: <%= property.pricePerNight %></p>
      <p class="card-text">Service Fee: <%= property.serviceFee %></p>
      <p class="card-text">Cleaning Fee: <%= property.cleaningFee %></p>
       -->
      <p class="card-text">Status: <%= reservation.Status %></p>
      <p class="card-text">Check-In Date: <%= reservation.checkInDate %></p>
      <p class="card-text">Check-Out Date: <%= reservation.check_out_date %></p>
      <p class="card-text">Amount Due: <%= reservation.amount_due %></p>
    
      <div class="form-group col-md-3">
        <p>
        <form action="/reservaation/delete/<%= reservaation._id %>" method="POST">
          <button type="submit" id="add" class="btn btn-outline-dark">Cancel Reservation</button>
      </form>        
      <!-- <a class="btn btn-primary" href="/properties/update/<%= property._id %>" role="button">Edit Property</a> -->
    </p>
        
      </div>
      
      <a href="/">Back to list</a>
    
    </div>
  </div>
    
    

<%- include('partials/footer') %>
