<%- include('partials/header') %>

<div class="card" style="width: 18rem;">
    <h1> Property Details </h1>
    <img src="images/<%= property.img %>" class="thumbnail" alt="..." style="width:200px; height:200px">
    <div class="card-body">
      <h5 class="card-title">Title: <%= property.title %></h5>
      <p class="card-text">Description: <%= property.description %></p>
      <p class="card-text">Price Per Night: <%= property.pricePerNight %></p>
      <p class="card-text">Service Fee: <%= property.serviceFee %></p>
      <p class="card-text">Cleaning Fee: <%= property.cleaningFee %></p>
      <p class="card-text">Bedrooms: <%= property.bedrooms %></p>
      <p class="card-text">Amenities: <%= property.amenities %></p>
      <p class="card-text">Bathrooms: <%= property.bathrooms %></p>
      <p class="card-text">Beds: <%= property.beds %></p>
      <p class="card-text">City: <%= property.location.city %></p>
      <p class="card-text">State: <%= property.location.state %></p>
      <p class="card-text">Country: <%= property.location.country %></p>
      <p class="card-text">Pets: <%= property.pets %></p>
      <p class="card-text">Smoking: <%= property.smoking %></p>
      <p class="card-text">Property Type: <%= property.propertyType %></p>
    
      <div class="form-group col-md-3">
        <button type="submit" id="edit" class="btn btn-outline-dark">Edit Property</button>
        <button type="submit" id="delete" class="btn btn-outline-dark">Delete Property</button>
        <a href="/">Back to list</a>
      </div>

    
    </div>
  </div>
    
    

<%- include('partials/footer') %>
