<%- include('partials/header') %>
<h1> Reservation Details </h1>

<div class="card" style="width: 100%;">

    <h5 class="card-title">Reservation ID: <%= reservation._id %></h5>

    <div class="card-body">
      <p class="card-text">Check-In Date: <%= reservation.checkInDate %></p>
      <p class="card-text">Check-Out Date: <%= reservation.checkOutDate %></p>
      <p class="card-text">Amount Due: $<%= reservation.amountDue %></p>
      <p class="card-text">Status: <%= reservation.status %></p>

      <form action="/reservations/delete/<%= reservation._id %>" method="POST">
        <button type="submit" id="add" class="btn btn-outline-dark">Cancel Reservation</button>
      </form>
    
    </div>
  </div>

  <a href="/reservations?userID=<%= reservation.guestID %>">Back to list</a>

  <%- include('partials/footer') %>